<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
     <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
     <script>

      $.ajax({
      url:'http://lhf.com:3000/auth/login',
      type:'get',
      dataType:'json',
      data:
        {
        userId: 1,
        username: 'john',
        password: 'changeme',
      
      },
    }).done((res) => {
      console.log(res);
    }).fail((res) => {
      console.log(res);
    })
     </script>
  </body>
</html>