<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <meta name="csrf-token" content="{{csrf}}">
  </head>
  <body>
    
    {{ message }}
    用户名<input type="text" value="jamie52" id="username"><br/>
    邮箱<input type="text"  value="5693097@qq.com" id="email"><br/>
    密码<input type="password" value="123456"  id="password"><br/>
    token<input type="text" value=""  id="token"><br/>
     <a id="gitbub">github登陆</a>
     <div id="iframe"></div>
    <br/>
    <button id="login">登录</button>  
      <br/>
    <button id="resetpassword">找回密码</button>  
     <br/>
     <button id="logout">登出</button>  
     <br/>
    <button id="reg">注册</button>  
     <br/>
     <button id="activeRegister">验证注册token</button>  
       <button id="info">获取用户信息</button>  
     <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
     <script>
       var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    $('#reg').click(function(){
        $.ajax({
              url:'/api/auth/register',
              type:'post',
              dataType:'text/html',
              headers: {
            'CSRF-Token': token // <-- is the csrf token as a header
            },
              data:{
                username: $('#username').val(),
                password:$('#password').val(),
                rePwd:$('#password').val(),
                email:$('#email').val(),
              },
            }).done((res) => {
              console.log(res);
            }).fail((res) => {
              console.log(res);
            })
    })
     $('#login').click(function(){
        $.ajax({
              url:'/api/auth/login',
              type:'post',
              dataType:'json',
              headers: {
            'CSRF-Token': token // <-- is the csrf token as a header
            },
              data:{
                username: $('#username').val(),
                password:$('#password').val(),
              },
            }).done((res) => {
              console.log(res);
              if(res.code==200 && res.data) {
                localStorage.setItem('token',res.data)
              }
            }).fail((res) => {
              console.log(res);
            })
    })
      $('#activeRegister').click(function(){
        $.ajax({
              url:'/api/auth/activeRegister',
              type:'post',
              dataType:'json',
              headers: {
            'CSRF-Token': token // <-- is the csrf token as a header
            },
              data:{
                username: $('#username').val(),
                key: $('#token').val(),
              },
            }).done((res) => {
              console.log(res);
            }).fail((res) => {
              console.log(res);
            })
    })
     $('#info').click(function(){
        $.ajax({
              url:'/api/user/info',
              type:'get',
              dataType:'json',
              headers: {
              'CSRF-Token': token, // <-- is the csrf token as a header
               Authorization: `Bearer ${localStorage.getItem('token')}`
              },
            }).done((res) => {
              console.log(res);
            }).fail((res) => {
              console.log(res);
            })
    })
     $('#logout').click(function(){
        $.ajax({
              url:'/api/auth/logout',
              type:'get',
              dataType:'json',
              headers: {
              'CSRF-Token': token, // <-- is the csrf token as a header
               Authorization: `Bearer ${localStorage.getItem('token')}`
              },
            }).done((res) => {
              console.log(res);
            }).fail((res) => {
              console.log(res);
            })
    })
    $('#gitbub').click(()=>{
     window.open('/api/auth/github','','width=400,height=400');
    })
    
     </script>
  </body>
</html>